

<div >
  <%= link_to 'Keep Shopping', instruments_path, class: 'keep' %>
</div>
<hr />
<section >
  <%= render(@cart.line_items) %>

  <div >
    <div >
      <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: 'keep' %>
    </div>
    <div >
      <h4 >
        <span >Total:</span> <%= number_to_currency(@cart.total_price) %>
      </h4>
    </div>
  </div>
  <%= link_to "Home", root_path %>
</section>