<div >
  <div >
    <%= line_item.quantity %>
  </div>
  <div >
      <%= image_tag(line_item.instrument.image , class:'cart-img')%>
  
  </div>
  <div >
    <strong><%= line_item.instrument.name %></strong>
    <div >
      <div>
        <%= truncate(line_item.instrument.description, length: 140) %>
      </div>
      <div >
        <strong ><%= number_to_currency(line_item.total_price) %></strong>
      </div>
    </div>
  </div>
</div>

<div>
  <%= link_to 'Remove Item', line_item, method: :delete, data: { confirm: "Are you sure? " }, class: 'keep' %>
</div>

<hr/ >